APP_PORT=3010
COMPOSE_PROJECT_NAME=app_casamento

POSTGRES_DB=album_casamento
POSTGRES_USER=album_user
POSTGRES_PASSWORD=troque-por-uma-senha-forte-do-postgres

DATABASE_URL=postgresql://album_user:troque-por-uma-senha-forte-do-postgres@db:5432/album_casamento?schema=public
APP_BASE_URL=http://155.133.27.226:3010
ADMIN_API_KEY=troque-por-uma-chave-admin-forte
CLIENT_HASH_SECRET=troque-por-um-segredo-longo

BUNNY_STORAGE_ENDPOINT=https://br.storage.bunnycdn.com/productpulse
BUNNY_STORAGE_PASSWORD=sua-storage-zone-password
BUNNY_PUBLIC_BASE_URL=https://productpulse.b-cdn.net
