.git
.github
.next
node_modules
coverage
artifacts
telas_app_casamento_individuais
img

.env
.env*.local
*.log

github-vps-contabo-skill.zip

prisma/dev.db
prisma/dev.db-journal
prisma/pgdata
public/uploads
